.flex-container-error {
  height: 80vh;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-404 {
  margin-top: -50px;
  width: 45%;
  height: auto;
}

.button-to-home {
  margin-top: -50px;
  width: 20vw;
  min-width: 140px;
  height: auto;
  padding: 0.25rem;
  color: #00ffff;
  background-color: rgba(10, 10, 51, 0.9);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  line-height: 70px;
  border-radius: 20px;
}

.button-to-home:hover {
  background-color: #2482a9;
}

@media only screen and (max-width: 800px) {
  .flex-container-error {
    height: 65vh;
  }
  .error-404 {
    margin-top: 0;
    width: 61%;
  }
  .button-to-home {
    font-size: 1.5rem;
    line-height: 50px;
    margin-top: 0;
  }
}
