.contact-wrapper {
  display: flex;
  height: 65vh;
  align-items: center;
  justify-content: center;
}
.main-div mat-card {
  padding: 0px;
}

.contact-form {
  padding: 20px;
}

#contact-mobile {
  width: 45%;
}

@media only screen and (max-width: 600px) {
  #contact-mobile {
    width: 80%;
  }
}
